In [79]:
import pandas as pd

In [80]:
data = pd.read_csv('lsd-math-score-data.csv')

In [81]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [82]:
type(data)

pandas.core.frame.DataFrame

In [83]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [84]:
data['High Score'] = 100

In [85]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [86]:
data['High Score'] = data['High Score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [87]:
data['High Score'] = data['High Score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [88]:
type(onlyMathScores)

pandas.core.series.Series

In [89]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[columnList]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [90]:
type(cleanData)

pandas.core.frame.DataFrame

In [91]:
y = data[['LSD_ppm']]

In [92]:
type(y)

pandas.core.frame.DataFrame

In [93]:
y

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [95]:
del data['High Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97